{% extends 'core/base.html' %}

{% block content %}
<main id="Content" class="fix">
	<header class="fix">
		<h1>Atores</h1>
	</header>
	
	<section id="Infos" class='fix'>
		<figure class="fl"><img src="{{ STATIC_URL }}img/artista1.jpg" alt=""></figure>

		<article class="fl">
			<p class="tit">Ator</p>
			<h2>Scarlett Johansson</h2>
			<p class="txt"><strong>País:</strong> Brasil</p>
			
		</article>

	</section>

	<section id="listagem" class='fix'>
		<header class="fix">
			<h2>Filmes Relacionados</h2>
		</header>
		<ul>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz1.jpg" alt=""></a></li>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz2.jpg" alt=""></a></li>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz3.jpg" alt=""></a></li>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz4.jpg" alt=""></a></li>
			<li class="fl last"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz5.jpg" alt=""></a></li>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz6.jpg" alt=""></a></li>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz7.jpg" alt=""></a></li>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz8.jpg" alt=""></a></li>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz9.jpg" alt=""></a></li>
			<li class="fl last"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz10.jpg" alt=""></a></li>
			<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz11.jpg" alt=""></a></li>
		</ul>
	</section>

</main>
{% endblock content %}