{% extends 'core/base.html' %}

{% block content %}
<header class="fix">
	<h1 class="fl">Listagem de filmes</h1>
	<form action="">
		<select name="" id="" class="fr">
			<option value="">Ordenar por:</option>
			<option value="">a - z</option>
			<option value="">z - a</option>
		</select>
	</form>
</header>

<section id="listagem" class='fix'>
	<ul>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz1.jpg" alt=""></a></li>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz2.jpg" alt=""></a></li>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz3.jpg" alt=""></a></li>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz4.jpg" alt=""></a></li>
		<li class="fl last"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz5.jpg" alt=""></a></li>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz6.jpg" alt=""></a></li>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz7.jpg" alt=""></a></li>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz8.jpg" alt=""></a></li>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz9.jpg" alt=""></a></li>
		<li class="fl last"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz10.jpg" alt=""></a></li>
		<li class="fl"><a href="interna.html"><img src="{{ STATIC_URL }}img/cartaz11.jpg" alt=""></a></li>
	</ul>
</section>
{% endblock content %}