{% extends 'core/base.html' %}

{% block content %}
<header class="fix">
	<h1 class="fl">Listagem de filmes</h1>
	{% include 'core/form_sort_snippet.html' %}
</header>

<section id="listagem" class='fix'>
	{% include 'core/filme_list_snippet.html' with filmes=object_list %}
</section>
{% endblock content %}