{% extends 'core/base.html' %}

{% block content %}
<main id="Content" class="fix">
    <header class="fix">
        <h1>{{ filme.nome }}</h1>
    </header>
    
    <section id="Infos" class='fix'>
        <figure class="fl"><img src="{{ MEDIA_URL }}{{ filme.capa }}" alt=""></figure>

        <article class="fl">
            <p class="tit">Sinopse:</p>
            <p class="txt">{{ filme.sinopse }}</p>
            <p class="tit">Genero:</p>
            <p class="txt">
            {% for genero in filme.genero_set.all %}
                <a href="/generos/{{ genero.slug }}/">{{ genero.nome }}</a>, 
            {% endfor %}

            </p>
            <p class="tit">Atores:</p>
            <p class="txt">
            {% for ator in filme.ator_set.all %}
                <a href="/atores/{{ ator.slug }}/">{{ ator.nome }}</a>, 
            {% endfor %}
            </p>
        </article>

    </section>

    <section id="listagem" class='fix'>
        <header class="fix">
            <h2>Filmes Relacionados</h2>
        </header>
        {% include 'core/filme_list_snippet.html' %}
    </section>

</main>
{% endblock content %}
